body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #28c9ea;
  color: #333;
  overflow-y: auto;
  overflow-x: hidden ;
}

#fireworks, #snow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
}

h1 {
  color: #6a9c89;
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.capybara {
  width: 550px;
  margin: 20px 0;
  border-radius: 15px;
}

.btn {
  background-color: #6a9c89;
  color: #fff;
  border: none;
  padding: 100px 110px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #557e71;
}

.footer {
  margin-top: 30px;
  font-size: 14px;
  color: #999;
  font-style: italic;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

.fade-in:nth-child(1) { animation-delay: 0.5s; }
.fade-in:nth-child(2) { animation-delay: 1s; }
.fade-in:nth-child(3) { animation-delay: 1.5s; }
.fade-in:nth-child(4) { animation-delay: 2s; }

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
